:root {
    --primary-color: #0066ff;
    --white: #fff;
    --black: #000;
}

/* Globals  */
.btn--custom-primary {
    background-color: var(--primary-color);
    color: var(--white);
    padding: 12px 30px;
}
.btn--custom-primary:hover {
    background-color: rgba(0, 102, 255, 0.4);
    color: #fff;
}
.site-blocks-cover h1 {
    color: var(--primary-color);
}

.text--custom-primary {
    color: var(--primary-color);
}

a {
    text-decoration: none;
}

/* End of Globals */

/* Header */

.site-logo a {
    border: none;
}

.site-navbar .site-navigation .site-menu .active > a,
.site-navbar .site-navigation .site-menu > li > a:hover {
    color: var(--primary-color);
}

.site-navbar a {
    color: var(--primary-color);
    text-decoration: none;
}
.bag .number {
    background: var(--primary-color);
}
.site-navbar .site-navigation .site-menu .has-children .dropdown {
    border-top: 2px solid var(--primary-color);
}

/* End of Header */

/* Recently Added */
.title-section.text-center h2:after {
    background-color: var(--primary-color);
}
.product-item img {
    top: 0%;
}
.icon-arrow_back,
.icon-arrow_forward {
    color: var(--primary-color);
}
.item-title,
.item-price {
    margin: 0.5em 0;
}
.item-title a {
    font-size: 1.3rem;
}
.item-entry .item-title a {
    color: var(--primary-color);
}

/* End of Recently Added */

/* Cart */
.site-blocks-table .product-thumbnail {
    width: 30px;
}
.cart-success {
    font-size: 1.3rem;
}

/* CSS Overrides */
.cart-update {
    font-size: 1.5rem;
}

/*  */
