:root {
    --primary-color: #0066ff;
    --white: #fff;
    --black: #000;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

/* Globals  */
.btn--custom-primary {
    background-color: var(--primary-color);
    color: var(--white);
    padding: 0.5em 1em;
}
.btn--custom-primary:hover {
    background-color: rgba(0, 102, 255, 0.4);
    color: #fff;
}
.site-blocks-cover h1 {
    color: var(--primary-color);
}

.text--custom-primary {
    color: var(--primary-color);
}

a {
    text-decoration: none;
}
.custom--border {
    border: 1px solid var(--primary-color);
}

/* End of Globals */

/* Header */

.site-logo a {
    border: none;
}

.site-navbar .site-navigation .site-menu .active > a,
.site-navbar .site-navigation .site-menu > li > a:hover {
    color: var(--primary-color);
}

.site-navbar a {
    color: var(--primary-color);
    text-decoration: none;
}
.bag .number {
    background: var(--primary-color);
}
.site-navbar .site-navigation .site-menu .has-children .dropdown {
    border-top: 2px solid var(--primary-color);
}

/* End of Header */

/* Recently Added */
.title-section.text-center h2:after {
    background-color: var(--primary-color);
}
.product-item img {
    top: 0%;
}
.icon-arrow_back,
.icon-arrow_forward {
    color: var(--primary-color);
}
.item-title,
.item-price {
    margin: 0.5em 0;
}
.item-title a {
    font-size: 1.3rem;
}
.item-entry .item-title a {
    color: var(--primary-color);
}

/* End of Recently Added */

/* Category Page */
.cat-name {
    display: inline-block;
    font-size: 1.3rem;
    font-weight: 700;
}
.cat-link:hover {
    color: #000;
}

/* Cart */
.site-blocks-table .product-thumbnail {
    width: 30px;
}
.cart-success,
.cart-update-success {
    font-size: 1.3rem;
}

.category-item .item-title,
.category-item .item-price {
    margin: 0.5em 0;
}
thead > tr {
    background-color: var(--primary-color);
}
.site-blocks-table thead th {
    color: var(--white);
}
.cart-buttons {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.cart-buttons > * {
    margin: 0.5em 0;
}
.quantity-input {
    background-color: var(--primary-color);
    color: #fff;
}
.qty-btn {
    font-size: 1.3rem;
}
.total-amount {
    font-size: 1.3rem;
    font-weight: 700;
}
.cart-totals-text {
    border-bottom: 2px solid var(--primary-color);
}

/* End of Cart Page */

/* Checkout */
.address-modal {
    margin-top: 8em;
}

/* CSS Overrides */
.cart-update {
    font-size: 1.5rem;
}

/* Admin panel Navabr */
.navbar-expand .navbar-nav {
    align-items: baseline;
}
